.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all .5s ease;
}

.slide-fade-enter {
  transform: translateX(-1em);
  opacity: 0;
}

.slide-fade-leave-to {
  opacity: 0;
  transform: translateX(1em);
}